body {
    font-family: 'Montserrat', sans-serif;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #FAFAFA;
    padding: 20px;
}

.footer-section {
    flex: 1 1 200px;
    margin-left: 100px;
}

.footer-section p {
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-section a {
    font-size: 14;
    display: block;
    color: #005E8A;
    text-decoration: none;
    margin-bottom: 5px;
    margin-top: 30px;
}

.footer-section a:hover {
    text-decoration: underline;
    
}

.footer-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-top: 20px;
    position: relative;
    width: 100%;
}

.footer-bottom .hl-left, .footer-bottom .hl-right {
    flex: 1;
    border-top: 1px solid #000;
}

.footer-bottom .social-media-icons {
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.footer-bottom img {
    margin-left: 20px;
}

.footer-bottom p {
    width: 100%;
    text-align: center;
    margin: 40px 0 0 0;
}

.vl {
    border-left: 1px solid rgb(0, 0, 0);
    height: 392px;
}
@media(max-width:1256px){
  .vl {
    display: none;
  }
}
    
@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        background-color: #FAFAFA;
    }
    .footer-section {
    margin: 10px;}
    .vl {
        display: none;
    }
    .footer-bottom {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-bottom .hl-left, .footer-bottom .hl-right {
        display: none;
    }
    .footer-section a {
    margin-top: 0px;
  }
    .footer-bottom p {
        text-align: left;
        margin-top: 20px;
    }
}